html, body, #app{
  margin: 0;
  height: 100%;
  max-height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.HomeIndex, .Home{
  h1{
    margin: 0 0 50px 0;
    font-size: 30px;
    padding: 50px;
    text-align: center;
    background: #4A524F;
    color: gold;
  }
  .wrapper{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    a{
      font-weight: bolder;
      font-size: larger;
      text-align: center!important;
      &:hover{
        .el-card{
          background: darkslategray!important;
          color: #ffffff;
        }
      }
    }
    .el-row{
      // margin: 50px 0;
    }
    .el-card__body{
      padding: 50px;
      text-align: center!important;
      i{
        font-size: x-large;
      }
    }
    .el-card{
      margin-bottom: 10px!important;
    }
    .add .el-card__body{
      padding: 30px!important;
    }
  }
}
.Wrapper{
  max-width: 1000px!important;
  min-width: 1000px!important;
  margin: auto;
}
.el-container, .el-header, .el-aside, .el-main{
  padding: 0;
}
.el-header, .el-footer{
  height: fit-content!important;
}
.el-card{
  margin: 20px 0;
}
